<div id="Heroimage" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#Heroimage" data-slide-to="0" class="active"></li>
    <li data-target="#Heroimage" data-slide-to="1"></li>
    <li data-target="#Heroimage" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <%= image_tag("image.jpg", :alt => "image") %>
      <div class="carousel-caption">
        first here
      </div>
    </div>

    <div class="item">
      <%= image_tag("image.jpg", :alt => "image") %>
      <div class="carousel-caption">
        second here
      </div>
    </div>

    <div class="item">
      <%= image_tag("image.jpg", :alt => "image") %>
      <div class="carousel-caption">
        <li><%= link_to "Sign In", new_user_session_path %></li>
      </div>
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#Heroimage" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#Heroimage" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>