    <footer class="footer-panel">

      <div class="footer-right">

        <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
        <a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
        <a href="www.linkedin.com"><i class="fa fa-linkedin"></i></a>
        <a href="www.github.com"><i class="fa fa-github"></i></a>

      </div>

      <div class="footer-left">
        
        <p>Dealkart &copy; 2016</p>

        <p class="footer-links">

          <a href="#">About</a>

          <a href="#">Faq</a>

          <a href="#">Contact</a>
        </p>


      </div>

    </footer>
